

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

.light-main2 {
    background: linear-gradient(#b9de5b, white);
    height: 100vh;
}

.dark-main2 {
    background: linear-gradient(#303522, rgb(99, 94, 94));
    height: 100vh;
    color: white;
}